{:deps {org.slf4j/slf4j-api {:mvn/version "2.0.16"}
        io.github.clojure/tools.build {:mvn/version "0.10.5"
                                       :exclusions [org.slf4j/slf4j-nop]}
        ;; For testing
        lambdaisland/kaocha {:mvn/version "1.91.1392"}
        lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
        ;; For deploying
        slipset/deps-deploy {:mvn/version "0.2.2"
                             :exclusions [org.slf4j/slf4j-nop]}
        ;; For coverage
        cloverage/cloverage {:mvn/version "1.2.4"}
        ;; For linting
        clj-kondo/clj-kondo {:mvn/version "2024.09.27"}}
 :paths ["src"]
 
 :aliases
 {:test
  {:exec-fn monkey.test/all}

  :watch
  {:exec-fn monkey.test/watch}
  
  :junit
  {:exec-fn monkey.test/junit}
    
  :jar
  {:exec-fn monkey.build/jar
   :exec-args {:jar "target/monkey-build.jar"
               :version-fn monkey.build/env-or-default
               :lib "com.monkeyprojects/build"
               :scm {:url "https://github.com/monkey-projects/build"}}}

  :install
  {:exec-fn monkey.build/jar+install}

  :deploy
  {:exec-fn monkey.build/jar+deploy}

  :lint
  {:exec-fn monkey.test/lint}
  
  ;; Alias that is included when deploying this lib, to avoid slf4j warning about
  ;; missing implementation.
  :build/slf4j
  {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"}}}}}
